body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: green;
	text-align: center;
	text-decoration: underline;
}

p {
	color: blue;
	background-color: yellow;
	font-size: large;
}
span {
	font-weight: bold;
	font-size: x-large;
}

li {
	list-style-image: url(../imagenes/flecha.png);
}
