body {
	color: grey;
	background-color: lightgrey;
}

h1 {
	color: grey;

	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
}

#rosa {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	border: 10px solid rgb(255, 192, 203);
	background-color: rgb(255, 229, 223);
}

#verde {
    margin-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	border: 10px solid rgb(0, 204, 153);
	background-color: rgb(166, 237, 219);
}
.texto {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}

.citado {
    line-height: 0%;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}
