* {
	margin: 0;
	padding: 0;
}

div {
	position: absolute;

	width: 65px;
	height: 65px;
}

#azul {
	border: 1px solid blue;

	top: 0;
	left: 0;
}

#verde-claro {
	border: 1px solid lawngreen;

	top: 70px;
	left: 100px;
}

#verde-oscuro {
	border: 1px solid green;

	bottom: 0;
	left: 0;
}

#cyan-pequenio {
	border: 1px solid cyan;

	top: 25%;
	right: 25%;
}

#naranja {
	border: 1px solid orange;

	bottom: 50%;
	right: 50%;
}

#rojo {
	border: 1px solid red;

	top: 50%;
	left: 50%;
}

#rosa {
	border: 1px solid pink;

	top: 50%;
	right: 0;
}

#cyan-grande {
	border: 1px solid cyan;

	width: 400px;
	height: 400px;

	top: 50%;
	right: 50%;

    margin-top: -200px;
    margin-right: -200px;
}

#puntos-y {
    border-bottom: 2px dashed lightgray;

    width: 100%;
    height: 50%;
}

#puntos-x {
    border-right: 2px dashed lightgray;

    width: 50%;
    height: 100%;
}
